/* Header */
header {
    background: white;
    padding: 20px;
    border-bottom: 2px solid #dfdfdf;
    font-size: 18px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav a {
    padding: 1% 3%;
	border-radius: 3px;
	color: #838a92;
}

header nav a:hover, .active {
    border: 1px solid #65a3be;
	color: #4e879c;
}

.button-click {
    padding: 0.5em 1em;
    margin: 1em;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #a4afba;
	border-radius: 3px;
}

.button-click:hover {
    border-color: #65a3be;
	color: #4e879c;
    }

header a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

header a span {
    color: red;
}

/* Container */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 5%;
}

main div {
    display: flex;
    justify-content: right;
}

main div a {
    padding: 0.5% 1%;
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

main div a:hover {
    border-color: #65a3be;
	color: #4e879c;
}

main ul {
    list-style-type: none;
    border-right: 1px solid black;
    padding-right: 2%;
    margin-right: 2%;
}

main ul li {
    padding-bottom: 3%;
}

.current {
    display: flex;
    justify-content: space-around;
}

.current p {
    text-align: justify;
    white-space:pre-line;
    text-transform: none;
}

table {
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

th {
    border: 1px solid #dddddd;
    background: #efefef;
}

td {
    border: 1px solid #dddddd;
    padding: 1%;
}

td a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

td a:hover {
	color: #4e879c;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #dfdfdf;
    font-size: 18px;
}
footer div {
    display: flex;
    align-items: center;
}

/* Login and SignUp User */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

#id_first_name {
    margin: 3% 0;
    height: 30px;
}

#id_last_name {
    margin: 3% 0;
    height: 30px;
}

#id_email {
    margin: 3% 0;
    height: 30px;
}

#id_username {
    margin: 3% 0;
    height: 30px;
}

#id_password {
    margin: 3% 0;
    height: 30px;
}

#id_password1 {
    margin: 3% 0;
    height: 30px;
}

#id_password2 {
    margin: 3% 0;
    height: 30px;
}

/* CreatePurposes */
.plan {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


.form-action {
    padding: 1em 30%;
}

#id_name {
    margin: 2% 0;
    width: 100%;
    height: 30px;
}

#id_description {
    margin: 2% 0;
    width: 100%;
}

#id_deadline {
    margin: 3% 0;
    width: 100%;
    height: 30px;
}

#id_purpose {
    margin: 2% 0;
    width: 100%;
    height: 30px;
}

#id_link {
    margin: 2% 0;
    width: 100%;
    height: 30px;
}

/* Фильтр */
.filter {
    display: flex;
    justify-content: space-around;
}

.filter div {
    margin: 0.1% 0.1%;
    width: 50%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

/* Paginator */
.pag-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 5em 0 5em;
}

.pag-nav ul li {
    border: 0.5px solid black;
    padding: 0.5em;
    margin: 0.2em;
    font-size: 0.7em;
}

.accordion {
    cursor: pointer;
}

.panel {
    display: none;
}

.panel.active {
    display: table-row;
    font-size: 1em;
}