{% extends 'base.html' %}
{% block title %}
    {{ user.get_full_name }} | Мои Цели
{% endblock %}
{% block content %}
{% include 'includes/postheader.html' %}
<form method="get" action="">
<div class="filter">
              <div>
               {{purpose_filter.form.deadline.label_tag}}
               {{purpose_filter.form.deadline}}
              </div>
                <div>
                    {{purpose_filter.form.date_complete.label_tag}}
               {{purpose_filter.form.date_complete}}
              </div>
    <button type="submit" class="button-click" style="margin-bottom: 1%;">Применить фильтр</button>
</div>
</form>
    <div class="create_purpose">
        <a href="{% url 'purposes:purpose_create' %}">Создать Цель</a>
    </div>

    <table>
      <tr>
          <th>Задача</th>
          <th>Дедлайн</th>
          <th>Исполнено</th>
      </tr>
      {% for purpose in page_obj %}
        <tr class="accordion" {% if not purpose.date_complete %} style="background:#E46C6C;"
            {% elif purpose.date_complete > purpose.deadline %}
            style="background:#FEFE22;" {% else %} style="background:#78E46C;" {% endif %}>
            <td>{{ purpose.name }}</td>
            <td>{{ purpose.deadline|date:"d M Y H:i" }}</td>
            <td>{{ purpose.date_complete|date:"d M Y H:i" }}</td>
        </tr>
        <tr class="panel">
            <td colspan="3">
                    <div><p>{{ purpose.description }}</p></div>
                    <div class="current">
                        {% if purpose.date_complete is None %}
                            <a href="{% url 'purposes:purpose_edit' purpose.pk %}">изменить цель</a>
                            <button type="submit" class="button-click"><a href="{% url 'purposes:purpose_complete' purpose.pk %}">Выполнил</a></button>
                        {% else %}
                            <b>Выполнено:</b>
                            <p>{{ purpose.date_complete|date:"d M Y H:i" }}</p>
                        {% endif %}
                    </div>
            </td>
        </tr>
      {% endfor %}
        {% include 'purposes/includes/paginator.html' %}
    </table>
<script>accordion();</script>
{% endblock %}
