{% extends 'base.html' %}
{% block title %}
  {% if form.instance.user %}
    Редактировать Цель
    {% else %}
    Новая Цель
    {% endif %}
{% endblock %}
{% block content %}
    <div class="plan">
        <form method="post" action="{% if form.instance.pk %}
        {% url 'purposes:purpose_edit' form.instance.pk %}{% else %}
        {% url 'purposes:purpose_create' %}{% endif %}" class="form-action" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
              {{ field.label_tag }}
              {% if field.field.required %}
                <span style="color: red;">*</span>
              {% endif %}
          <div>
          {{ field }}
          </div>
        {% endfor %}
        <div>
          <button type="submit" class="button-click" style="width:100%">
            {% if form.instance.user %}
              Сохранить
              {% else %}
              Добавить
              {% endif %}
          </button>
        </div>
    </form>
      </div>
{% endblock %}