{% extends 'base.html' %}
{% block title %}
    {{user.get_full_name}} | {{purpose_d.name|truncatechars:30}}
{% endblock %}
{% block content %}
    <div class="current">
    <ul>
        <li><b>Цель:</b> {{ purpose_d.name }}</li>
        <li><b>Дедлайн:</b> {{ purpose_d.deadline|date:"d M Y H:i" }}</li>
        {% if purpose_d.date_complete is None %}
            {% if purpose_d.user == request.user %}
                <li>
                  <a href="{% url 'purposes:purpose_edit' purpose_d.pk %}">
                      изменить цель
                  </a>
                </li>
                <li>
                    <button type="submit" class="button-click"><a href="{% url 'purposes:purpose_complete' purpose_d.pk %}">Выполнил</a></button>
                </li>
            {% endif %}
        {% else %}
            <li><b>Выполнено:</b> {{ purpose_d.date_complete|date:"d M Y H:i" }}</li>
        {% endif %}
    </ul>
    <p>{{ purpose_d.description }}</p>
    </div>
    {% if purpose_d.date_complete is None %}
<form method="get" action="">
<div class="filter">
              <div>
                      {{ task_filter.form }}
              </div>
              </div>
    <div>
                <button type="submit" class="button-click" style="margin-bottom: 1%;">Фильтровать</button>
              </div>
</form>
    <div>
        <a href="{% url 'purposes:task_create' purpose_d.pk %}">Создать Задачу</a>
    </div>
    <table>
        <tr>
          <th>Задача</th>
          <th>Дедлайн</th>
          <th>Выполнено</th>
          <th></th>
        </tr>
        {% for task in page_obj %}
            <tr {% if not task.date_complete %} style="background:#E46C6C;" {% else %} style="background:#78E46C;" {% endif %}>
                <td><a href="{% url 'purposes:task' task.pk %}">{{ task.name }}</a></td>
                <td>{{ task.deadline|date:"d M Y H:i" }}</td>
                {% if not task.date_complete %}
                    <td>не выполнена</td>
                    <td><a href="{% url 'purposes:task_delete' task.pk %}">удалить</a></td>
                {% else %}
                    <td>{{ task.date_complete|date:"d M Y H:i" }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% include 'purposes/includes/paginator.html' %}
    </table>
    {% endif %}
{% endblock %}