{% extends 'base.html' %}
{% block title %}
    {{user.get_full_name}} | {{task_d.name|truncatechars:30}}
{% endblock %}
{% block content %}
    <div class="current">
    <ul class="current-task">
        <li><b>Цель: </b><a href="{% url 'purposes:purpose' task_d.purpose.pk %}">{{ task_d.purpose.name }}</a></li>
        <li><b>Задача:</b> {{ task_d.name }}</li>
        <li><b>Дедлайн:</b> {{ task_d.deadline|date:"d M Y H:i" }}</li>
        {% if task_d.date_complete is None %}
            <li>
              <a href="{% url 'purposes:task_edit' task_d.pk %}">
                  изменить задачу
              </a>
            </li>
            <li>
                <button type="submit" class="button-click"><a href="{% url 'purposes:task_complete' task_d.pk %}">Выполнил</a></button>
            </li>
        {% endif %}
    </ul>
    <p>{{ task_d.description|linebreaks }}</p>
    </div>
{% endblock %}