{% extends 'base.html' %}
{% block title %}
    {{ user.get_full_name }} | Факты
{% endblock %}
{% block content %}
{% include 'includes/postheader.html' %}
<h2>{{ contact.last_name }} {{ contact.name }}</h2>
<img src="{{ contact.photo }}"/>
<div>
    <a href="{% url 'contacts:contact_edit' contact.pk %}">Изменить контакт</a>
    <a href="{% url 'contacts:contact_delete' contact.pk %}">Удалить контакт</a>
</div>
<table>
          <tr><th>Основная информация</th></tr>
          <tr><td><b>Какую роль выполняет: </b>{{ contact.status }}</td></tr>
          <tr><td><b>Круг в сети контактов: </b>{{ contact.krug }}</td></tr>
          <tr><td><b>Занимаемый сектор: </b>{{ contact.sector }}</td></tr>
          <tr><td><b>Основная информация: </b>{{ contact.first_info }}</td></tr>

</table>
<div>
    <a href="{% url 'contacts:relationship_create' contact.pk %}">Создать отношения</a>
    <a href="{% url 'contacts:relationship_edit' rship.pk %}">Изменить оценку</a>
</div>
    <table>
        <tr>
            <th>Поведение</th>
            <th>Результат</th>
        </tr>
        <tr>
            <td>{{ rship.commitment_intensity.label_tag }}</td>
            <td>{{ rship.commitment_intensity }}</td>
        </tr>
        <tr>
            <td>{{ rship.initiative_reciprocity.label_tag }}</td>
            <td>{{ rship.initiative_reciprocity }}</td>
        </tr>
        <tr>
            <td>{{ rship.emotional_involment.label_tag }}</td>
            <td>{{ rship.emotional_involment }}</td>
        </tr>
        <tr>
            <td>{{ rship.openness_trust.label_tag }}</td>
            <td>{{ rship.openness_trust }}</td>
        </tr>
    </table>

<div>
    <a href="{% url 'contacts:meets' contact.pk %}">Встречи</a>
    <a href="{% url 'contacts:meet_create' contact.pk %}">Подготовить встречу</a>
    {% for meet in meets %}
        {{ meet.name }}
        <a href="{% url 'contacts:meet_edit' meet.pk %}">Изменить встречу</a>
    {% endfor %}
</div>
<div>
    <a href="{% url 'contacts:facts' contact.pk %}">Факты</a>
    <a href="{% url 'contacts:fact_create' contact.pk %}">Создать факт</a>
    {% for fact in facts %}
        {{ fact.fact }}
        <a href="{% url 'contacts:fact_edit' fact.pk %}">Изменить факт</a>
    {% endfor %}
</div>
{% endblock %}